
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}
a {
  color: #000000;
}

.main-header {
  background: #ffffff;
  color: #000000;
  min-height: 64px;
}

.main-header-logo {
position: absolute;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  display: flex;
  width: 507px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0 0 163px;
  padding: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 280px;
  padding: 0;
  margin: 14px 0 0 100px;
}

.navigation-item-user {
  margin-top: 8px;
}

.navigation-link-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  top: 0;
  right: 3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 2px;
}

.navigation-button {
  padding: 8px 35px;
  min-height: 36px;
  font-family: "PT Sans";
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}

.navigation-link {
  display: block;
  padding: 0 19px;
  color: inherit;
  background: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-current::after {
  content: "";
  display: block;
  border-bottom: 2px solid #756257;
  margin-top: 18px;
  margin-bottom: -20px;
}

/*.navigation-user .navigation-link {*/
/*  min-width: 16px;*/
/*  min-height: 22px;*/
/*}*/

.main-container {
  flex-grow: 1;
}

.main-index {
  background: #ffffff;
  color: #000000;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.greeting{
  background-image: url("../images/decor-img.svg"), url('../images/index-background.jpg') ;
  background-repeat: no-repeat;
  min-height: 485px;
  background-size: 100% auto;
  background-position: bottom;
}

.welcome-title {
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 70px;
}
 .welcome-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #ffffff;
 }

 .advantages {
   margin-top: 85px;
 }

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;

  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px;
  width: 1200px;
  min-height: 1152px;
}

.element-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.element-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.element-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.element-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.element-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.element-6 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.element-7 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-blue {
  background: #82B3D3
}

.box-grey{
  background-color: rgba(131, 179, 211, 0.12);;
}

.box-2-grey{
  background-color: rgba(131, 179, 211, 0.2);;
}

.line::after {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: flex;
  position: relative;
  left: 170px;
  top: 30px;
  box-sizing: border-box;
}

.line-w::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title-white {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-white {
  font-family: 'PT Sans';
  color:#ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-family: 'PT Sans';
  color:#000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  min-height: 384px;
}

.services-title {
  color:#000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 180px;
  margin-bottom: 30px;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.house {
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 79px;
}

.eat {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 79px;
}

.souvenirs{
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 163px 79px;
}

.hotel-search {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 77px 0 54px 0;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.search-button {
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  width: 276px;
  min-height: 35px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff
}

/*Подпишись на рассылку*/

.newsletter-alter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/bg-blurry-mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  margin-top: 25px;
}

.newsletter-header{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-email {
  padding: 0 154px 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-height: 52px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;
}
.newsletter-form {
  display: flex;
  margin: 0 auto;
}
.newsletter-button {

  min-height: 52px;
  padding: 8px 40px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
}

.footer-phone-contacts {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-container {
  width: 1200px;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}

.footer-social-list {
  display: flex;

}

.footer-social-item{
  padding: 0 15px;
}

/* Каталог */
.catalog-filter {
  border: 0;
}

.catalog-filter-group {
  border: 0;
}

.price-range-group {
  border: 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.choice-housing {
  background-image: url(../images/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px;
  border: 0;
}

.choice-housing-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

.checker-input {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 0;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  margin-top: 6px;
  padding: 0;
}
.breadcrumbs-icon-home {
  padding: 0 3px 0 2px;
}

.breadcrumbs-item {
  padding-left: 9px;
}

.breadcrumbs-link {
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
  text-decoration: none;
}

.catalog-filters-group {
  padding: 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-filter-list{
  padding: 0;
}

.catalog-filters-group-price {
  width: 288px;
  margin-left: 100px;
}

.range-wrapper-inputs {
  display: flex;
  column-gap: 6px;
  padding: 25px 0 0 0 ;
}

.range-input {
  height: 48px;
  width: 100%;
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  border: none;
  appearance: textfield;
}

.range-input-wrapper {
  position: relative;
  width: 50%;
}

.range-input-wrapper::after {
  content: "от";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input-wrapper:last-child::after {
  content: "до";
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-wrapper:first-of-type .range-input {
  border-radius: 4px 0 0 4px;
}

.range-input-wrapper:last-of-type .range-input {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background: #e6e6e6;
}

.range-input:focus {
  background: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-input:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.range-scale {
  position: relative;
  margin-top: 44px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #82b3d3;
}

.range-toggle:active,
.range-toggle:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.section-button {
  margin-top: 56px;
  width: 195px;
}

.button-submit,
.button-reset {
  padding: 8px 10px;
  max-width: 191px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-submit {
  margin-bottom: 30px;
}

.button-submit:hover {
  background: #68a2ca;
}

.button-submit:focus {
  background: #68a2ca;
  outline: none;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.button-reset {
  background: transparent;
  position: relative;
  top: 3px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: auto;
}


.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-top: 11px;
}

.catalog-filter-title {
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
}

.checker {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-blue {
  background-color: #82B3D3;
  text-decoration: none;
}

.hotel-card-more {
  background-color: #756157;
  text-decoration: none;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin-right: 70px;
  margin-left: auto;
  padding: 11px 16px;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.products-button {
  margin: 24px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.products-current {
  border-color: #000000;
}

.products-button:last-child {
  margin-right: 0;
}

.products-button-icon {
  width: 16px;
  height: 14px;
}

.products-button:hover,
.products-button:active {
  border-color: #000000;
}

.products-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.search-hotel{
  display: flex;
  align-items: center;
}

.result-sort {
  margin-left: 200px;
  margin-top: 25px;
}

.number-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 74px;
  margin-top: 56px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  row-gap: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 40px 0;
  padding: 19px 77px;
}

.hotel-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px auto auto auto;
  column-gap: 20px;
  row-gap: 16px;
  border-color: #e6e6e6;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.hotel-card-link {
  grid-column: 1 /3;
  grid-row: 1 / 3;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;

}

.hotel-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: end;
}

.button-more,
.button-favorite,
.button-in-favorite{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 26px;
}

.button-favorite {
  padding: 8px 8px;
  border: 0;
  background-color: #82B3D3;
}

.button-in-favorite {
  color: #ffffff;
  background-color: #7db54f;
  padding: 8px 8px;
  border: 0;
  border-radius: 4px;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px;
}

.hotel-card-img {
  margin-bottom: 16px;
  display: block;
}

.two-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%;
}

.three-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%, 48px 50%;
}

.four-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%, 48px 50%, 72px 50%;
}

.offer {
  padding: 50px 70px 60px;
}

.find-hotel-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 41px;
  align-items: center;
}

.hotel-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0 35px;
}

.pagination-link {
  min-width: 40px;
  height: 40px;
  padding: 11px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link:hover,
.pagination-link:focus {
  color: #ffffff;
  background-color: #68a2ca;
}

.pagination-current,
.pagination-current:active,
.pagination-current:hover,
.pagination-current:focus {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots,
.pagination-dots:link,
.pagination-dots:active,
.pagination-dots:hover,
.pagination-dots:focus {
  color: #000000;
  background-color: #ffffff;
}

.newsletter-alter-catalog {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding-bottom: 100px;
}

.newsletter-header-cat {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.newsletter-description-cat {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
